.recipe-item {
  background-color: aquamarine;
  margin-bottom: 5px;
  border-radius: 5px;
  padding: 10px;
  border-left: 5px solid red;
}
.recipe-heading {
  color: rgb(221, 236, 225);
  text-align: center;
  background-color: rgba(55, 59, 53, 0.5);
  border-radius: 10px;
  padding: 5px;
  margin-bottom: 10px;
}
.title {
  color: rgb(42, 45, 44);
  margin-bottom: 5px;
}
